
<!DOCTYPE html>
<html>


<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Explore NASA</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="assets/index.css" rel="stylesheet" type="text/css">

</head>



<body>
  <header class="container-fluid" id="top-nav">

        <img class="header-logo" src="images/icons8-spaceship-58.png" alt="spaceship">


        <nav class="my-links" id="my-link1">
          <a href="/">Home</a>
          <a href="/pad">Photo a day</a>
          <a href="#">link3</a>


        </nav>

        <a href="javascript:void(0);" class="icon" onclick="navFunction()">
        <ion-icon id="menu-icon" name="menu-outline"></ion-icon>
        </a>




  </header>
<div class="container-fluid" id="main-title">
<h1 id="mt-1">Explore NASA</h1>

</div>

<hr>


<div class="container-fluid" id="home-mission">
  <p>Welcome to Explore NASA! An interface for the official NASA API. Get lost in a trove of information provided directly from NASA.
    Look at the NASA photo of the day, explore data sets, check the weather on mars and much much more. The mission is to make NASA data
    accesible by all. The sky is not the limit!
  </p>

</div>


<div class="container-fluid" id="gallery-content">
  <div class="row" style="text-align:center;">

      <img id="i-1" src="images/earth1.jpg">


      <img id="i-2" src="images/moon1.jpg">


      <img id="i-3" src="images/mars1.jpg">

  </div>






</div>






<footer class="container-fluid">
  <p>Erik Ramos production</p>
</footer>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<script type="text/javascript">

  function navFunction(){
    console.log("hello")
    var n = document.getElementById("my-link1");
    console.log(n)
    if(n.style.display === "block"){
      console.log("2")
      n.style.display = "none";
      console.log("3")
    } else {
      console.log("5")
      n.style.display = "block";
      console.log("6")
    }
  }

</script>

</body>







</html>
