<!DOCTYPE html>
<html>


<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Explore NASA</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="assets/pad.css" rel="stylesheet" type="text/css">

</head>



<body>
  <header class="container-fluid" id="top-nav">

        <img class="header-logo" src="images/icons8-spaceship-58.png" alt="spaceship">


        <nav class="my-links" id="my-link1">
          <a href="/">Home</a>
          <a href="/pad">Astronomy Picture of the day (APOD)</a>
          <a href="/tech">TechTransfer</a>
        


        </nav>

        <a href="javascript:void(0);" class="icon" onclick="navFunction()">
        <ion-icon id="menu-icon" name="menu-outline"></ion-icon>
        </a>




  </header>
<div class="container-fluid" id="main-title">
<h1 id="mt-1">Explore NASA</h1>

</div>

<hr>

<% data %>


            <div class="container-fluid">
              <h2 id="section-title">APOD</h2>
            <div class="row">
            <div class="col-sm-6" id="image-title">
 				         <h3><%= data.title %></h3>
            </div>

            <div class="col-sm-6" id="date-time">

                <h3><%= data.date %></h3>
            </div>


            </div>


            </div>












    <% getImage %>
    <div class="container-fluid" >

	     <img id="main-image" class="img-responsive center-block"  src= <%= getImage.url %> >


    </div>




    <div class="container-fluid" id="description">

     <h3 id="data-content"><%= data.explanation %></h3>

    </div>








<footer class="container-fluid">
  <a href="#top-nav">
  <ion-icon id="f-icon" name="caret-up-outline"></ion-icon>
  </a>
  <p>Erik Ramos production</p>
</footer>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<script type="text/javascript">

  function navFunction(){

    var n = document.getElementById("my-link1");

    if(n.style.display === "block"){

      n.style.display = "none";

    } else {

      n.style.display = "block";

    }
  }

</script>

</body>







</html>
