<!DOCTYPE html>
<html>


<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Explore NASA</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="assets/patents.css" rel="stylesheet" type="text/css">

</head>



<body>
  <header class="container-fluid" id="top-nav">

        <img class="header-logo" src="images/icons8-spaceship-58.png" alt="spaceship">
        <p id="logo-t">Explore NASA</p>

        <nav class="my-links" id="my-link1">
          <a href="/">Home</a>
          <a href="/pad">Astronomy Picture of the day (APOD)</a>
          <a href="/tech">TechTransfer</a>


        </nav>

        <a href="javascript:void(0);" class="icon" onclick="navFunction()">
        <ion-icon id="menu-icon" name="menu-outline"></ion-icon>
        </a>




  </header>
<div class="container-fluid" id="main-title">
<h1 id="mt-1">Patents</h1>

  <input id="ps-1" type="text" name="patent_kw" placeholder="search patents by keyword:" onfocus="this.value=''">
  <button class="btn btn-default" type="submit" name="button" onclick="patentSearch()">search</button>

</div>

<hr>


<div class="container-fluid" id="main-content">
  <h3 id="status-title"></h3>

  <div class="card">
      <div class="card-body" id="card-meat">

      </div>
  </div>

</div>






<footer class="container-fluid">
  <a href="#top-nav">
  <ion-icon id="f-icon" name="caret-up-outline"></ion-icon>
  </a>
  <p>Erik Ramos production</p>
</footer>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<script type="text/javascript">

  function navFunction(){
    console.log("hello")
    var n = document.getElementById("my-link1");
    console.log(n)
    if(n.style.display === "block"){
      console.log("2")
      n.style.display = "none";
      console.log("3")
    } else {
      console.log("5")
      n.style.display = "block";
      console.log("6")
    }
  }





 async function patentSearch(){

    let p1 = await document.getElementById("ps-1").value;
    console.log(p1)
    let e1 = await document.getElementById("status-title");
    e1.innerHTML = "Loading.....";

    let p2 = await fetch(`/patents/${p1}`);
    p1.value = '';
    if (p2.ok){
      let p3 = await p2.json();
      console.log(p3);
      e1.style.display = "none";


      let d1 = await document.getElementById("card-meat");
      d1.innerHTML = `${p3.message}`;


    }else{
      e1.innerHTML = "Error: Bad request to api ";

    }





  }

</script>

</body>







</html>
