<!DOCTYPE html>
<html>


<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Explore NASA</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="assets/patents.css" rel="stylesheet" type="text/css">

</head>



<body>
  <header class="container-fluid" id="top-nav">

        <img class="header-logo" src="images/icons8-spaceship-58.png" alt="spaceship">
        <p id="logo-t">Explore NASA</p>

        <nav class="my-links" id="my-link1">
          <a href="/">Home</a>
          <a href="/pad">Astronomy Picture of the day (APOD)</a>
          <a href="/tech">TechTransfer</a>


        </nav>

        <a href="javascript:void(0);" class="icon" onclick="navFunction()">
        <ion-icon id="menu-icon" name="menu-outline"></ion-icon>
        </a>




  </header>
<div class="container-fluid" id="main-title">
<h1 id="mt-1">Patents</h1>
<form action="/patents" method="POST">
  <input type="text" name="patent_kw" value="" placeholder="search...">
  <button class="btn btn-default" type="submit" name="button">search</button>
</form>
</div>

<hr>


<div class="container-fluid" id="main-content">

</div>






<footer class="container-fluid">
  <a href="#top-nav">
  <ion-icon id="f-icon" name="caret-up-outline"></ion-icon>
  </a>
  <p>Erik Ramos production</p>
</footer>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<script type="text/javascript">

  function navFunction(){
    console.log("hello")
    var n = document.getElementById("my-link1");
    console.log(n)
    if(n.style.display === "block"){
      console.log("2")
      n.style.display = "none";
      console.log("3")
    } else {
      console.log("5")
      n.style.display = "block";
      console.log("6")
    }
  }

</script>

</body>







</html>
