body{
	background-color: black;
}

h1 {

	color: white;
}

.header-logo{
	padding: 15px 10px;
	transition: transform 5s;

}


.header-logo:hover{
	transform: translateY(-70px);
}





#top-nav{
		overflow: hidden;
		background-color: black;
		position: relative;



}




.my-links{
	display:none;
}

.my-links a{
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;

}


#top-nav a.icon{
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

#my-link1 a:hover{
	background-color: #ddd;
	color: black;


}

.icon{
	padding: 15px 15px;
	margin: 5px 5px;
}

#menu-icon {
	font-size: 30px;
	color: red;
}

#main-title{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 31px;
	padding-top: 3%;

}




#image-title{
	text-align: center;
	padding-left:50px;
	color: white;

}

#date-time{
	text-align: center;
	padding-left: 210px;
	color: white;
}

#main-image{
	text-align: center;
	border:3px solid black ;
	border-radius: 30px;
	border-width: auto;
	height: 550px;
	width: 550px;


}

#description-word{
	color: white;
}

#description{
	text-align: center;
}

#data-content{
	color: white;
	font-size: 15px;
	line-height: 1.6;
}


footer{
	padding-top: 20px;
	text-align: center;
}

#f-icon {
	font-size: 30px;
	color: red;
	cursor: pointer;
	transition: 2s;
}

#f-icon:hover{
	transform: scale(1.2);
}
